body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(192, 192, 192, 0.296);
    min-height: 100vh;
} 

section {
  height: 100%;
}

header {
    background: rgb(125,126,125);
    background: -moz-linear-gradient(45deg, rgb(125,126,125) 0%, rgb(14,14,14) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(125,126,125)), color-stop(100%,rgb(14,14,14)));
    background: -webkit-linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
    background: -o-linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
    background: -ms-linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
    background: linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
    position:sticky;
    z-index: 1000;
    width: 100%;
    text-align: left;
}

img{
    max-width: 100px;
    max-height: 100px;
}
div.nav {
    background: rgb(169,3,41);
    background: -moz-linear-gradient(45deg, rgb(169,3,41) 0%, rgb(143,2,34) 44%, rgb(109,0,25) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(169,3,41)), color-stop(44%,rgb(143,2,34)), color-stop(100%,rgb(109,0,25)));
    background: -webkit-linear-gradient(45deg, rgb(169,3,41) 0%,rgb(143,2,34) 44%,rgb(109,0,25) 100%);
    background: -o-linear-gradient(45deg, rgb(169,3,41) 0%,rgb(143,2,34) 44%,rgb(109,0,25) 100%);
    background: -ms-linear-gradient(45deg, rgb(169,3,41) 0%,rgb(143,2,34) 44%,rgb(109,0,25) 100%);
    background: linear-gradient(45deg, rgb(169,3,41) 0%,rgb(143,2,34) 44%,rgb(109,0,25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
    height: 13px;
    width: 100%;
    margin: 0;
}

.nav {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
}
section div {
    background-color: rgba(0, 0, 0, 0.278);
}
.container {
    display: flex;
    align-items: center;
    
}


.clock {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: flex-end;
    text-align: right;
    margin-right: 1rem;
    color: rgb(255, 255, 255);
}

.clock span {
    padding: 0 .02rem;
}

.logo {
    margin-right: 52rem;
   margin-left: 1rem; 
}

.logo img {
    height: 4rem;
width: auto;
height: auto;
    max-width: 100px;
    max-height: 100px;
} 
#loginPanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background: rgb(125,126,125);
    background: -moz-linear-gradient(45deg, rgb(125,126,125) 0%, rgb(14,14,14) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(125,126,125)), color-stop(100%,rgb(14,14,14)));
    background: -webkit-linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
    background: -o-linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
    background: -ms-linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
    background: linear-gradient(45deg, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
}
#loginButton{
    color: transparent;
    background-color: transparent;
    display: flex;
    text-align: right;
    align-content: right;
    align-items: right;
    
}
.current-time {
    background-color: yellow;
  }
.show{
  display: flex;
  margin-top: 2rem;
  background-color: rgba(192, 192, 192, 0);
  padding: .2rem 0.5rem 0.2rem 5rem;
  font-size: 2rem;
    font-weight: bold;

}
.show td{
  padding: 0.rem;
}





.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3e8e41;
  }
  
  button:focus {
    outline: none;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .malas{
    padding: 2rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    display:flex;
    margin-bottom: .1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

footer{
  background-color: rgb(137, 137, 137);
  color: white;
  height: 10rem;
  margin-top:2rem ;
  padding-top: 3.9rem;
  padding-left: 1.5rem;
}